<div class="bg-white rounded-2xl shadow-sm p-4 lg:p-6 mb-8">
  <div routerLink="/profile" class="flex items-center gap-3 mb-4">
    <img
      [src]="userData.photo"
      class="w-10 h-10 lg:w-12 lg:h-12 rounded-full object-cover cursor-pointer"
    />

    <div>
      <h3 routerLink="/profile" class="font-semibold text-gray-800 hover:underline cursor-pointer">
        {{ userData.name }}
      </h3>
      <select
        [formControl]="privacy"
        class="border-none bg-transparent cursor-pointer right-0 py-0 px-5 text-xs rounded-full"
      >
        <option value="public">public</option>
        <option value="following">followers</option>
        <option value="only_me">only me</option>
      </select>
    </div>
  </div>

  <form [formGroup]="form" (ngSubmit)="cratPost()">
    <textarea
      formControlName="body"
      rows="4"
      placeholder="What's on your mind, Saif?"
      class="w-full p-4 rounded-xl border border-gray-200 bg-gray-50 focus:outline-none focus:ring-2 focus:ring-blue-500"
    ></textarea>
    @if (form.controls.body.errors && (form.controls.body.touched || isSubmitted())) {
      <p class="text-red-600 text-sm font-bold mx-2 p-1">
        Post Body must be entered and can't be less than 3 characters
      </p>
    }

    <hr class="my-4" />

    @if (imagePreview) {
      <div class="my-2">
        <img
          [src]="imagePreview"
          class="w-full max-h-80 object-cover rounded-xl border"
          alt="Preview"
        />
      </div>
    }

    <div class="flex justify-between items-center">
      <div class="flex gap-6 text-gray-600">
        <input
          (change)="onFileSelected($event)"
          formControlName="image"
          id="photoInput"
          type="file"
          hidden
          accept="image/*"
        />
        <label
          for="photoInput"
          class="flex items-center gap-2 hover:text-green-600 text-gray-700 px-4 py-2 rounded-xl cursor-pointer transition"
        >
          <i class="fa-regular fa-image"></i> Photo/video
        </label>

        <button
          id="emoji-menu"
          data-dropdown-toggle="emoji-dropdown"
          data-dropdown-placement="bottom-end"
          type="button"
          class="flex items-center gap-2 hover:text-yellow-500 cursor-pointer"
        >
          <i class="fa-regular fa-face-smile"></i>
          Feeling/activity
        </button>

        <div
          class="z-50 hidden bg-neutral-primary-medium border border-default-medium rounded-base shadow-lg w-44"
          id="emoji-dropdown"
        >
          <div aria-labelledby="emoji-menu">
            <emoji-mart
              (emojiSelect)="selectEmoji($event)"
              [isNative]="true"
              emoji="point_up"
            ></emoji-mart>
          </div>
        </div>
      </div>

      <button
        [class.pointer-events-none]="isSubmitted()"
        [class.cursor-not-allowed]="isSubmitted()"
        type="submit"
        class="flex items-center gap-2 bg-blue-500 hover:bg-blue-600 text-white px-6 py-2 rounded-xl shadow-md transition cursor-pointer"
      >
        Post <i class="fa-solid fa-paper-plane"></i>
      </button>
    </div>
  </form>
</div>
