<div class="min-h-screen bg-gray-100 p-6">
  <div
    class="relative h-72 rounded-b-[40px] overflow-hidden bg-linear-to-r from-[#1e293b] to-[#6b9ecf]"
  >
    @if (profileDetails.cover) {
      <img [src]="profileDetails.cover" class="w-full h-full object-cover" />
    }

    <button
      class="absolute top-6 right-6 bg-slate-800/70 hover:bg-slate-900/80 text-white px-4 py-2 rounded-lg text-sm flex items-center gap-2 backdrop-blur transition"
    >
      <i class="fa-solid fa-camera"></i>
      Add cover
    </button>
  </div>

  <div class="max-w-6xl mx-auto -mt-24 relative z-10">
    <div class="bg-white rounded-[30px] shadow-md p-8">
      <div class="flex flex-col lg:flex-row gap-8 items-start lg:items-center">
        <div class="flex items-center gap-6 flex-1">
          <div class="relative">
            <img
              [src]="profileDetails.photo || 'assets/default-avatar.png'"
              [alt]="profileDetails.name"
              class="w-32 h-32 rounded-full border-4 border-white shadow-md object-cover"
            />

            <div class="absolute bottom-0 end-0">
              <input
                (change)="onFileSelected($event)"
                id="photoInput"
                type="file"
                hidden
                accept="image/*"
                [disabled]="isUploading"
              />
              <label
                for="photoInput"
                class="cursor-pointer inline-block bg-slate-800/70 hover:bg-slate-900/80 text-white p-2 rounded-lg backdrop-blur transition"
                [class.opacity-50]="isUploading"
                [class.cursor-not-allowed]="isUploading"
              >
                @if (!isUploading) {
                  <i class="fa-regular fa-image text-xl"></i>
                } @else {
                  <i class="fa-solid fa-spinner fa-spin text-xl"></i>
                }
              </label>
            </div>
          </div>

          <div>
            <h1 class="text-3xl font-bold text-slate-800">{{ profileDetails.name }}</h1>
            <p class="text-slate-400 text-lg">@{{ profileDetails.username }}</p>

            <span
              class="inline-flex items-center gap-2 bg-blue-100 text-blue-600 text-sm px-4 py-1 rounded-full mt-3"
            >
              <i class="fa-solid fa-route text-xs"></i>
              Route Posts member
            </span>
          </div>
        </div>

        <div class="grid grid-cols-3 gap-4 w-full lg:w-auto">
          <div class="stat-box border border-gray-300 bg-white p-4 rounded-2xl">
            <p class="stat-title text-gray-500 font-semibold">FOLLOWERS</p>
            <p class="stat-number text-center font-bold">
              {{ profileDetails.followersCount || 0 }}
            </p>
          </div>

          <div class="stat-box border border-gray-300 bg-white p-4 rounded-2xl">
            <p class="stat-title text-gray-500 font-semibold">FOLLOWING</p>
            <p class="stat-number text-center font-bold">{{ profileDetails.followingCount }}</p>
          </div>

          <div class="stat-box border border-gray-300 bg-white p-4 rounded-2xl">
            <p class="stat-title text-gray-500 font-semibold">BOOKMARKS</p>
            <p class="stat-number text-center font-bold">{{ profileDetails.bookmarksCount }}</p>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mt-8">
        <!-- About -->
        <div class="lg:col-span-2 bg-slate-50 border border-slate-200 rounded-2xl p-6">
          <h3 class="font-semibold text-slate-700 mb-4">About</h3>

          <div class="space-y-3 text-slate-600">
            <p class="flex items-center gap-3">
              <i class="fa-regular fa-envelope text-slate-400"></i>
              {{ profileDetails.email }}
            </p>

            <p class="flex items-center gap-3">
              <i class="fa-regular fa-user text-slate-400"></i>
              Active on Route Posts
            </p>
          </div>
        </div>

        <!-- Side Counters -->
        <div class="space-y-6">
          <div class="side-box border border-gray-300 bg-white p-4 rounded-2xl">
            <p class="side- text-blue-600">MY POSTS</p>
            <p class="side-number text-2xl font-bold">{{ postList.length }}</p>
          </div>

          <div class="side-box border border-gray-300 bg-white p-4 rounded-2xl">
            <p class="side-title text-blue-600">SAVED POSTS</p>
            <p class="side-number text-2xl font-bold">{{ profileDetails.bookmarksCount || 0 }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="max-w-6xl mx-auto mt-10">
    <div
      class="bg-white rounded-2xl shadow-sm border border-slate-200 p-4 flex items-center justify-between"
    >
      <div class="flex gap-2">
        <button
          class="flex items-center gap-2 px-4 py-2 rounded-xl bg-blue-100 text-blue-600 font-medium"
        >
          <i class="fa-regular fa-file-lines"></i>
          My Posts
        </button>

        <button
          class="flex items-center gap-2 px-4 py-2 rounded-xl hover:bg-slate-100 text-slate-600"
        >
          <i class="fa-regular fa-bookmark"></i>
          Saved
        </button>
      </div>

      <span class="bg-blue-100 text-blue-600 text-sm px-3 py-1 rounded-full"> 0 </span>
    </div>

    @if (postList.length > 0) {
      @for (post of postList; track $index) {
        <div class="bg-white rounded-2xl shadow-md border border-gray-200 overflow-hidden mb-5">
          <div class="flex items-center justify-between p-4">
            <div class="flex items-center gap-3">
              <img
                [src]="post.user.photo"
                [alt]="post.user.name"
                class="w-10 h-10 rounded-full object-cover"
              />
              <div>
                <h3 class="font-semibold text-gray-800">
                  {{ post.user.name }}
                </h3>
                <p class="text-sm text-gray-500">
                  {{ post.timeAgo }}
                </p>
              </div>
              <div
                class="p-0 w-fit items-center bg-neutral-secondary-medium text-heading text-sm rounded-base"
              >
                <select
                  [disabled]="post.user._id !== userId"
                  class="border-none bg-transparent cursor-pointer right-0 py-0 px-5 text-xs rounded-full"
                >
                  <option [selected]="post.privacy === 'public'" value="public">public</option>
                  <option [selected]="post.privacy === 'following'" value="following">
                    followers
                  </option>
                  <option [selected]="post.privacy === 'only_me'" value="only_me">only me</option>
                </select>
              </div>
            </div>

            <div class="relative inline-block text-left group">
              <!-- Button -->
              <button class="p-2 rounded-full hover:bg-gray-100 transition">
                <i class="fa-solid fa-ellipsis"></i>
              </button>

              <!-- Dropdown -->
              <div
                class="absolute right-0 mt-2 w-40 bg-white border border-gray-200 rounded-xl shadow-lg opacity-0 group-hover:opacity-100 transition cursor-pointer"
              >
                <ul class="py-2 text-sm">
                  <li>
                    <button class="w-full text-left px-4 py-2 hover:bg-gray-100 cursor-pointer">
                      Save post
                    </button>
                    @if (post.user._id === userId) {
                      <button class="w-full text-left px-4 py-2 hover:bg-gray-100 cursor-pointer">
                        Edit post
                      </button>

                      <button
                        class="w-full text-left px-4 py-2 text-red-600 hover:bg-red-50 cursor-pointer"
                      >
                        Delete post
                      </button>
                    }
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="px-4 pb-3">
            <p class="text-gray-700">
              {{ post.body }}
            </p>
          </div>

          <div class="w-full">
            <img [src]="post.image" class="w-full max-h-125 object-cover cursor-pointer" />
          </div>

          <div class="flex justify-between items-center px-4 py-3 text-sm text-gray-500 border-t">
            <span>{{ post.likesCount }} likes</span>
            <div class="flex gap-4">
              <span>{{ post.sharesCount }} share</span>
              <span>{{ post.commentsCount }} comments</span>
              <button class="font-semibold cursor-pointer text-blue-600 hover:underline">
                view details
              </button>
            </div>
          </div>

          <div class="grid grid-cols-3 border-t text-sm">
            <button class="py-3 hover:bg-gray-100 font-medium text-gray-600">
              <i class="fa-solid fa-thumbs-up"></i> Like
            </button>

            <button
              #showcomments
              class="py-3 hover:bg-gray-100 font-medium text-gray-600 cursor-pointer"
            >
              <i class="fa-regular fa-comment"></i> Comment
            </button>

            <button class="py-3 hover:bg-gray-100 font-medium text-gray-600">
              <i class="fa-solid fa-share-nodes"></i> Share
            </button>
          </div>
        </div>
      }
    } @else {
      <p class="mt-6 bg-white rounded-2xl border border-slate-200 p-10 text-center text-slate-500">
        You have not posted yet.
      </p>
    }
  </div>
</div>
