<div
  class="w-full text-sm sticky top-0 bg-white rounded-[20px] shadow-sm border border-slate-50 p-2.5 flex flex-col gap-1"
>
  <h2 class="hidden lg:block text-lg font-semibold text-gray-700">Feed</h2>

  <button
    routerLink="/home/feed"
    routerLinkActive="bg-blue-50 text-blue-600"
    class="flex items-center gap-4 p-2 cursor-pointer rounded-xl text-slate-700 font-semibold hover:bg-slate-50 transition-colors duration-200 group"
  >
    <i
      class="fa-regular fa-newspaper w-5 text-center text-slate-500 group-hover:text-slate-700 transition-colors"
    ></i>
    <span class="">Feed</span>
  </button>

  <button
    routerLink="/home/my-posts"
    routerLinkActive="bg-blue-50 text-blue-600"
    class="flex items-center gap-4 p-2 cursor-pointer rounded-xl text-slate-700 font-semibold hover:bg-slate-50 transition-colors duration-200 group"
  >
    <i
      class="fa-solid fa-wand-magic-sparkles w-5 text-center text-slate-500 group-hover:text-slate-700 transition-colors"
    ></i>
    <span class="">My Posts</span>
  </button>

  <button
    routerLink="/home/community"
    routerLinkActive="bg-blue-50 text-blue-600"
    class="flex items-center gap-4 p-2 cursor-pointer rounded-xl text-slate-700 font-semibold hover:bg-slate-50 transition-colors duration-200 group"
  >
    <i
      class="fa-solid fa-globe w-5 text-center text-slate-500 group-hover:text-slate-700 transition-colors"
    ></i>
    <span class="">Community</span>
  </button>

  <button
    routerLink="/home/saved"
    routerLinkActive="bg-blue-50 text-blue-600"
    class="flex items-center gap-4 p-2 cursor-pointer rounded-xl text-slate-700 font-semibold hover:bg-slate-50 transition-colors duration-200 group"
  >
    <i
      class="fa-regular fa-bookmark w-5 text-center text-slate-500 group-hover:text-slate-700 transition-colors"
    ></i>
    <span class="">Saved</span>
  </button>
</div>
