@if (postList.length > 0) {
  @for (post of postList; track $index) {
    <div class="bg-white rounded-2xl shadow-md border border-gray-200 overflow-hidden mb-5">
      <!-- post header -->
      <div class="flex items-center justify-between p-4">
        <div class="flex items-center gap-3">
          <img
            [src]="post.user.photo"
            [alt]="post.user.name"
            class="w-10 h-10 rounded-full object-cover"
          />
          <div>
            <h3 class="font-semibold text-gray-800">
              {{ post.user.name }}
            </h3>
            <p class="text-sm text-gray-500">
              {{ post.timeAgo }}
            </p>
          </div>
          <div
            class="p-0 w-fit items-center bg-neutral-secondary-medium text-heading text-sm rounded-base"
          >
            <select
              [disabled]="post.user._id !== userId"
              class="border-none bg-transparent cursor-pointer right-0 py-0 px-5 text-xs rounded-full"
            >
              <option [selected]="post.privacy === 'public'" value="public">public</option>
              <option [selected]="post.privacy === 'following'" value="following">followers</option>
              <option [selected]="post.privacy === 'only_me'" value="only_me">only me</option>
            </select>
          </div>
        </div>

        <div class="relative inline-block text-left group">
          <!-- Button -->
          <button class="p-2 rounded-full hover:bg-gray-100 transition">
            <i class="fa-solid fa-ellipsis"></i>
          </button>

          <!-- Dropdown -->
          <div
            class="absolute right-0 mt-2 w-40 bg-white border border-gray-200 rounded-xl shadow-lg opacity-0 group-hover:opacity-100 transition cursor-pointer"
          >
            <ul class="py-2 text-sm">
              <li>
                <button class="w-full text-left px-4 py-2 hover:bg-gray-100 cursor-pointer">
                  Save post
                </button>
                @if (post.user._id === userId) {
                  <button class="w-full text-left px-4 py-2 hover:bg-gray-100 cursor-pointer">
                    Edit post
                  </button>

                  <button
                    class="w-full text-left px-4 py-2 text-red-600 hover:bg-red-50 cursor-pointer"
                  >
                    Delete post
                  </button>
                }
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="px-4 pb-3">
        <p class="text-gray-700">
          {{ post.body }}
        </p>
      </div>

      <div class="w-full">
        <img [src]="post.image" class="w-full max-h-125 object-cover cursor-pointer" />
      </div>

      <div class="flex justify-between items-center px-4 py-3 text-sm text-gray-500 border-t">
        <span>{{ post.likesCount }} likes</span>
        <div class="flex gap-4">
          <span>{{ post.sharesCount }} share</span>
          <span>{{ post.commentsCount }} comments</span>
          <button class="font-semibold cursor-pointer text-blue-600 hover:underline">
            view details
          </button>
        </div>
      </div>

      <div class="grid grid-cols-3 border-t text-sm">
        <button class="py-3 hover:bg-gray-100 font-medium text-gray-600">
          <i class="fa-solid fa-thumbs-up"></i> Like
        </button>

        <button
          #showcomments
          class="py-3 hover:bg-gray-100 font-medium text-gray-600 cursor-pointer"
        >
          <i class="fa-regular fa-comment"></i> Comment
        </button>

        <button class="py-3 hover:bg-gray-100 font-medium text-gray-600">
          <i class="fa-solid fa-share-nodes"></i> Share
        </button>
      </div>
    </div>
  }
} @else {
  <p class="mt-6 bg-white rounded-2xl border border-slate-200 p-10 text-center text-slate-500">
    You have not posted yet.
  </p>
}
