<div class="bg-gray-100 flex justify-center py-10">
  <div class="w-[80%] mx-auto bg-white rounded-2xl shadow-md border border-gray-200">
    <div class="flex items-start justify-between p-6 border-b border-gray-200">
      <div>
        <h2 class="text-2xl font-bold text-gray-900">Notifications</h2>
        <p class="text-gray-500 text-sm mt-1">
          Realtime updates for likes, comments, shares, and follows.
        </p>

        <div class="flex gap-3 mt-4">
          <button
            routerLinkActive="bg-blue-600"
            class="px-4 py-2 rounded-full bg-blue-600 text-white text-sm font-medium"
          >
            All
          </button>
          <button
            routerLinkActive="bg-blue-600"
            class="px-4 py-2 rounded-full bg-gray-100 text-gray-700 text-sm font-medium hover:bg-gray-200 transition"
          >
            Unread <span class="size-2.5 bg-light text-blue-600 ms-2"> {{ UnreadCount }} </span>
          </button>
        </div>
      </div>

      <button
        class="flex items-center gap-2 px-4 py-2 text-sm font-medium text-gray-600 bg-gray-100 rounded-lg hover:bg-gray-200 transition"
      >
        ✔ Mark all as read
      </button>
    </div>

    <div class="p-6">
      @for (item of notList; track $index) {
        <div class="flex justify-between mb-2 bg-blue-100 p-3 rounded-xl">
          <div class="flex items-center gap-2.5">
            <img class="w-10 h-10 rounded-full" [src]="item.actor.photo" alt="" />
            <div class="font-medium text-heading">
              <div>{{ item.actor.name }}</div>
              <div class="text-sm font-normal text-body">{{ item.entity.body }}</div>
            </div>
          </div>
          <div>
            <span> {{ item.createdAt }} </span>
          </div>
        </div>
      }
    </div>
  </div>
</div>
