@for (post of postsService.postList().slice(0, visibleCount); track post._id) {
  <div class="bg-white rounded-2xl shadow-md border border-gray-200 overflow-hidden mb-5">
    <!-- post header -->
    <div class="flex items-center justify-between p-4">
      <div class="flex items-center gap-3">
        <img [src]="post.user.photo" class="w-10 h-10 rounded-full object-cover" />
        <div>
          <h3 class="font-semibold text-gray-800">
            {{ post.user.name }}
          </h3>
          <p class="text-sm text-gray-500">
            {{ post.timeAgo }}
          </p>
        </div>
      </div>

      <button class="text-gray-400 hover:text-gray-600 text-xl">...</button>
    </div>

    <div class="px-4 pb-3">
      <p class="text-gray-700">
        {{ post.body }}
      </p>
    </div>

    <div class="w-full">
      <img [src]="post.image" class="w-full max-h-125 object-cover" />
    </div>

    <div class="flex justify-between items-center px-4 py-3 text-sm text-gray-500 border-t">
      <span>{{ post.likesCount }} likes</span>
      <div class="flex gap-4">
        <span>{{ post.sharesCount }} share</span>
        <span>{{ post.commentsCount }} comments</span>
      </div>
    </div>

    <div class="grid grid-cols-3 border-t text-sm">
      <button class="py-3 hover:bg-gray-100 font-medium text-gray-600">
        <i class="fa-solid fa-thumbs-up"></i> Like
      </button>

      <button #showcomments class="py-3 hover:bg-gray-100 font-medium text-gray-600 cursor-pointer">
        <i class="fa-regular fa-comment"></i> Comment
      </button>

      <button class="py-3 hover:bg-gray-100 font-medium text-gray-600">
        <i class="fa-solid fa-share-nodes"></i> Share
      </button>
    </div>

    <form (submit)="creatComment($event, post._id)">
      <label for="chat" class="sr-only">Your message</label>
      <div class="flex items-center px-3 py-2 rounded-base bg-neutral-secondary-soft">
        <textarea
          [formControl]="commentValue"
          id="chat"
          rows="1"
          class="mx-4 bg-neutral-primary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 placeholder:text-body"
          placeholder="Your message..."
        ></textarea>
        <button
          type="submit"
          class="inline-flex justify-center p-2 text-fg-brand rounded-full cursor-pointer hover:bg-brand-softer"
        >
          <svg
            class="w-6 h-6 rotate-90 rtl:-rotate-90"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m12 18-7 3 7-18 7 18-7-3Zm0 0v-5"
            />
          </svg>
          <span class="sr-only">Send message</span>
        </button>
      </div>
    </form>

    @defer (on interaction(showcomments)) {
      <div class="p-4 border-t bg-gray-50">
        <app-comments [postId]="post._id"></app-comments>
      </div>
    }
  </div>
}
@if (visibleCount < postsService.postList().length) {
  @defer (on viewport) {
    {{ loadMore() }}
  } @placeholder {
    <div class="text-center py-6 text-gray-400 text-4xl">Loading more posts...</div>
  }
}
